apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ APPLICATION_NAME }}-proxy
  namespace: {{ namespace }}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ APPLICATION_NAME }}"}}'
