apiVersion: v1
kind: ImageStream
metadata:
  labels:
    app: {{ APPLICATION_NAME }}
  name: {{ APPLICATION_NAME }}
  namespace: {{ namespace }}
spec:
  lookupPolicy:
    local: false
  tags:
  - name: {{ kibana_version }}
    from:
      kind: DockerImage
      name: docker.elastic.co/kibana/kibana-oss:{{ kibana_version }}
