apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: {{ APPLICATION_NAME }}
  name: {{ APPLICATION_NAME }}
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    app: {{ APPLICATION_NAME }}
  template:
    metadata:
      labels:
        app: {{ APPLICATION_NAME }}
    spec:
      containers:
      - image: ' '
        imagePullPolicy: IfNotPresent
        name: {{ APPLICATION_NAME }}
        resources:
          limits:
            memory: {{ KIBANA_MEMORY_LIMIT }}
          requests:
            memory: {{ KIBANA_MEMORY_LIMIT }}
        ports:
        - containerPort: 5601
          protocol: TCP
        resources: {}
        volumeMounts:
        - mountPath: /usr/share/kibana/data
          name: kibana-data
          subPath: data
        - mountPath: /usr/share/kibana/optimize
          name: kibana-data
          subPath: optimize
        - mountPath: /usr/share/kibana/config
          name: kibana-config
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: kibana-data
{% if _apb_plan_id == 'ephemeral' %}
          emptyDir: {}
{% else %}
          persistentVolumeClaim:
            claimName: {{ APPLICATION_NAME }}-claim
{% endif %}
        - configMap:
            name: {{ APPLICATION_NAME }}
          name: kibana-config
  triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
      - kibana
      from:
        kind: ImageStreamTag
        name: {{ APPLICATION_NAME }}:{{ kibana_version }}
        namespace: {{ namespace }}
    type: ImageChange
