apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: {{ application_name }}
  name: {{ application_name }}-proxy
  namespace: {{ namespace }}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.primary: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ application_name }}"}}'
